body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#f2ecfee1;
}

.t {
    background-color: #2E4CFF;
    height: 100vh;
}

header {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 90px;
    margin-left: 190px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.contact button {
    font-size: 16px;
    margin-right: 25px;
    color: #2E4CFF;
    border: none;
    padding: 15px 43px;
    border-radius: 11px;
    cursor: pointer;
}

.logo img {
    width: 47px;
}

.Home-content {
    display: flex;
    gap: 90px;
    background: no-repeat top right;
    background-image: url("./images/dot1.webp");
    background-position: 210px 22px 6em 94%;
}

.Home-content img {
    width: 340px;
    margin-top: 50px;
}

.H-content-1 {
    width: 590px;
    height: fit-content;
    padding: 60px;
    color: #ffffffdf;
    margin-top: 0;
}

.H-content-1 .contact {
    font-size: 16px;
    margin-right: 25px;
    color: #2E4CFF;
    border: none;
    padding: 15px 43px;
    border-radius: 11px;
    cursor: pointer;
}

.signin {
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 15px 43px;
    border-radius: 11px;
    cursor: pointer;
}

.H-content-2 img {
    height: 480px;
    width: auto;
}

.H-h1 {
    font-size: 3.4em;
    font-weight: 500;
    line-height: 83px;
}

.frame {
    width: 82.58%;
    margin: 0 auto;   
}

.H-p {
    font-size: 22px;
    font-weight: 100;
    padding: 12px;
    line-height: 50px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-gap:42px;
}
.yoga-classs{
    display: flex;
    gap: 206px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 7px 4px 6px 6px rgba(243, 242, 242, 0.858);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
.blue {
    background-color: #2E4CFF;
}
.white {
    background-color: #ffffff;
    color: #3366ff;

}
.top{
    margin-top:39px;
    margin-bottom:-21px;
}
.botton{
  margin-top:-23px;
}
.top1{
    margin-top:23px
}
.image-section img{
    height: 589px;
    width:auto;
    margin-right: 56px;
    margin-top:28.62px;
  
}
.yoga-classs{
    background-image: url("./images/dots.webp");
    background-size: 149px;
    background-repeat: no-repeat;
 
    background-position:top 2.59%  left 6.89%  ;
}
.text-section h1{
    font-size: 42px;
    margin-bottom: 140px;

}