body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#f2ecfee1;
}

.t {
    background-color: #2E4CFF;
    height: 100vh;
}

header {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 90px;
    margin-left: 190px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.contact button {
    font-size: 16px;
    margin-right: 25px;
    color: #2E4CFF;
    border: none;
    padding: 15px 43px;
    border-radius: 11px;
    cursor: pointer;
}

.logo img {
    width: 47px;
}

.Home-content {
    display: flex;
    gap: 90px;
    background: no-repeat top right;
    background-image: url("./images/dot1.webp");
    background-position: 210px 22px 6em 94%;
}

.Home-content img {
    width: 340px;
    margin-top: 50px;
}

.H-content-1 {
    width: 590px;
    height: fit-content;
    padding: 60px;
    color: #ffffffdf;
    margin-top: 0;
}

.H-content-1 .contact {
    font-size: 16px;
    margin-right: 25px;
    color: #2E4CFF;
    border: none;
    padding: 15px 43px;
    border-radius: 11px;
    cursor: pointer;
}

.signin {
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 15px 43px;
    border-radius: 11px;
    cursor: pointer;
}

.H-content-2 img {
    height: 480px;
    width: auto;
}

.H-h1 {
    font-size: 3.4em;
    font-weight: 500;
    line-height: 83px;
}

.frame {
    width: 82.58%;
    margin: 0 auto;   
}

.H-p {
    font-size: 22px;
    font-weight: 100;
    padding: 12px;
    line-height: 50px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-gap:42px;
}
.yoga-classs{
    display: flex;
    gap: 206px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 7px 4px 6px 6px rgba(243, 242, 242, 0.858);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
.blue {
    background-color: #2E4CFF;
}
.white {
    background-color: #ffffff;
    color: #3366ff;

}
.top{
    margin-top:39px;
    margin-bottom:-21px;
}
.botton{
  margin-top:-23px;
}
.top1{
    margin-top:23px
}
.image-section img{
    height: 589px;
    width:auto;
    margin-right: 56px;
    margin-top:28.62px;
  
}
.yoga-classs{
    background-image: url("./images/dots.webp");
    background-size: 149px;
    background-repeat: no-repeat;
 
    background-position:top 2.59%  left 6.89%  ;
}
.text-section h1{
    font-size: 42px;
    margin-bottom: 140px;

}
.amazing-team .h1{
    font-size: 36px;
    font-weight:900;
    text-align: center;

}
.para{
    color: #C4C4C4;
}
.id-card{
   display: flex; 
   margin: 80px;
   justify-content:center;
   gap: 50px;
   justify-content: space-evenly;


}
.team{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 25px 25px 0px #0000000D;
    text-align: center;
    width: 200px;
    min-height: 320px;
    padding: 20px;
    margin: 20px;
}
.team img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit:cover;
}
.social-icons{
    display: flex;
    
}
.social-icons img{
    border-radius: 2px;
    width: 26px;
    height: 26px;
    padding: 14px;

}

.pricing-section {
    text-align: center;
}

.pricing-section h1 {
    font-size: 1.9em;
    margin-bottom: 2em;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding:24px;
    width: 195px;
    
   text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}



.popular:hover {
    transform: translateY(-20px);
    transition: transform 0.3s;
}

.pricing-card h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.pricing-card .price {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.pricing-card .save {
    color:#C4C4C4;
    margin-bottom: 1em;
}

.pricing-card button {
    background-color:#2E4CFF;
    color: #ffffff;
    border: none;
    padding:10px 15px 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.pricing-card button:hover {
    background-color: #007bff;
}
.pricing-card:hover{
    border: 2px solid #2E4CFF;
}

.most-popular {
    background-color:#007bff ;
    color: #ffffff;
    padding: 20px 0 ;
    border-radius: 10px 10px 0 0;
    position:relative;
    top:-42px;
    left: -24px;
    width: calc( 100% + 48px);
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.popular {
   
    padding-top: 2.5em;
    padding-bottom: 2em;
    box-sizing: border-box;
}



.blog-news {
    text-align: center;
    padding: 50px 0;
}

.blog-news h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.blog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  
}

.blog-post {
    position: relative;
    max-width: 500px;
    text-align: left;
    overflow: hidden;
    border-radius: 8px;
}

.blog-post img {
    width:100%;
    height: 340px;
    display: block;
}

.blog-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
}

.blog-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-content p {
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color:white;
    color:#007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    color:#2E4CFF;
}
.Email-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.Email-content {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 600px;
    max-width: 90%;
}

.text {
    display: flex;
    flex-direction: column;
    line-height: 2.3em;
}

.text h2 {
    margin: 0;
    font-size: 1.5em;
    color: #000000;
}

.text p {
    margin: 0;
    color: #C4C4C4;
}

.contact-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #2E4CFF;
    color: #ffffff;
   display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    padding: 40px 60px;
    flex-wrap: wrap;
}
.footer-links {
        list-style: none;
        display: flex;
         gap: 50px;
}
.footer-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.stay-connected p{
    font-size: 29px;
    font-weight: 700;
    margin-bottom:2em;
}
.stay-connected img{
    width: 34px;
    margin: 20px;

}
.logo2 img{
    width:5em;
    margin-top: 86px;
    
}
.quick-explore h1{
    margin-bottom: 2em;

}
.designed-by{
    background-color:#2E4CFF;
    color: #ffffff;
    text-align: center;
    padding: 1.5em;
}


